/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
   -webkit-font-smoothing: antialiased;
   text-rendering: optimizelegibility;
}

.container {
   background-image: url(../images/bg-tile.gif);
   text-align: center;
   
     }


/* Typography */

h1, h2 {

}

h1 {

}

h1 em {

}

h2 {

}

h3 {

}

p.lead {

}

p {

}

a:link, a:visited {

}

a:hover {

}

hr {

}


/* Header */

header nav {
   background-image: url(../images/bg-tile.gif) ;
   height: 200px;
  
   
}

header nav ul {
   
   
   
}

header nav ul li {
   
   list-style-type:none;
   float: right;
   padding:40px;
   margin-top: 50px;
   margin-right: 120px;
}

header nav ul li a {
   color:orange;
   text-decoration: none;
}

header nav ul li a:hover {

}

header nav ul li#logo a {
   display : inline-block;
	width : 260px;
	height : 140px;
	overflow : hidden;
	text-align : left;
	text-indent : -9999px;
	white-space : nowrap;
   background : transparent url(../images/logo.png) no-repeat top left;
   margin-left: 100px;
   margin-right: 160px;
   margin-top: -50px;
}

header nav ul li#logo a:hover {

}


/* Hero */

#hero {
   

}

#hero .container {
   background-image: url(../images/bg-tile-yellow.gif) ;
   text-align: center;
   

}

#hero .large-ribbon {
   background-image: url(../images/fresh-whole-ingredients.png) ;
   height: 190px;
   width: 150px;
   position: absolute; 
   top: 170px ;
   left: 1290px ;

}


/* The Whole Story */

#story-excerpt {
   float: left;
   text-align: left;
}

#best-donut {
   float: right;


}
/* News & Events */

#articles {

}

#feature-image {

}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {

}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {

}

footer.main a:hover {

}

#uncopyright, #credits {

}

#uncopyright {

}

#credits {

}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
	}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





