/* color
- Jaune : #cfa205
- texte gris : #7a7a7a
- fond de la barre sociale : #e8e8e8
*/

/* HEADER */
*{
    margin: 0;  
    padding: 0;
  
}
body{
    background-image: url(../images/bg.jpg);
    background-repeat: no-repeat;

}


hr{
    color:  #7a7a7a;
    width: 850px;
    margin-left:90px;
}

h1{
    color: #cfa205;
    font-size: 133px;
    font-family: 'Josefin Sans';  
}

 h3{
     font-size: 18px;
     color: black;
     font-weight: bold;
     font-family: 'Bitter';
 }

a:link{
    text-decoration: none;
}
a:hover{
    color:#cfa205;
}

header nav ul li {

    display: inline-block;
    list-style:none;
    padding: 20px;
    
}

header nav ul li a{
    color: white;

}





.container1{
    text-align: center;
    list-style: none;
    color: #cfa205;
    background-color: black;
    width: 1020px;
    height: 60px;
    background-position: center;
    margin-left:300px;
}

.titre{
    background-color: black;
    text-align: center;
    list-style: none;
    color: #cfa205;
    width: 1020px;
    height: 250px;
    margin-left:300px;
    padding-top: 60px;

}

p.middle1{
    
    height: 100px;
    color: #7a7a7a;
    font-family: 'Bitter';
    font-size: 20px;
    font-weight: bold;
    
}

p.middle2{
    color: #7a7a7a;
    font-family: 'Bitter';
    font-size: 14px;
    
}

p.bas_titre{
    text-align: center;
    font-weight: bold;
}

.p_mid2{
    width: 900px;
    height: 90px;
    margin-left:90px;
    padding-top:50px;
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Bitter';
}

.res_soc{
    background-color: #e8e8e8;
    width: 1020px;
    height: 60px;
    margin-left:300px;
    text-align: center;
    padding-top: 20px;

}

.res_soc a{
    color: #7a7a7a;
    
}

span{
    color: #cfa205;
    font-size: 50px;
}

.offre{
    padding-top: 50px;
    display: inline-flex;
    padding-left: 75px;
}

h3.dim img{
    width: 260px;
    height: 195px;
    margin-left:300px;
    
}

.pro{
    width: 260px;
    height: 675px;
   padding: 15px; 
    background-color: white;
}
.text_pro{
    text-align: justify;
}

.demo{
    background-color: white;
    margin-left:300px;
    margin-right: 263px;
}

